[Unit]
Description=Manage dynamic dns for docker containers
After=docker.service

[Service]
ExecStart=/usr/local/bin/dnsthing -c 'systemctl restart dnsmasq@infra' -H /run/infra/hosts/docker --verbose

[Install]
WantedBy=multi-user.target
